/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require animate
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600);

$dark-grey: #26292E;
$med-grey: #7F8289;
$link-blue: #4DC9F0;

body {
  background: $med-grey;
  margin-top: 90px;
  p {
    font-size: 16px;
  }
}

.navbar {
  background: $dark-grey;
  border-bottom-width: 2px;
  border-color: $link-blue;
  border-radius: 0;
  .navbar-brand {
    padding-top: 0px;
    color: #FFFFFF;
    -webkit-transition: color 0.25s linear 0s;
    -moz-transition: color 0.25s linear 0s;
    -o-transition: color 0.25s linear 0s;
    transition: color 0.25s linear 0s;
  }
  .navbar-brand:hover {
    color: $link-blue;
  }
  i {
    cursor: pointer;
    color: #FFFFFF;
    -webkit-transition: color 0.25s linear 0s;
    -moz-transition: color 0.25s linear 0s;
    -o-transition: color 0.25s linear 0s;
    transition: color 0.25s linear 0s;
  }
  i:hover {
    color: $link-blue;
  }
}

.panel {
  padding: 10px;
}

.title {
  background-color: $dark-grey;
  border-color: $dark-grey;
  color: #FFFFFF;
  padding: 0px;
  
  -webkit-transition: color 0.5s linear 0s;
  -moz-transition: color 0.5s linear 0s;
  -o-transition: color 0.5s linear 0s;
  transition: color 0.5s linear 0s;
}

.title:hover {
  color: $link-blue;
}

.about {
  background-color: $dark-grey;
  border-color: $dark-grey;
  color: lightgrey;
  h2 { 
    -webkit-transition: color 0.5s linear 0s;
    -moz-transition: color 0.5s linear 0s;
    -o-transition: color 0.5s linear 0s;
    transition: color 0.5s linear 0s;
  }
}

.about:hover {
  h2 {
    color: $link-blue;
  }
}

.projects {
  background-color: $dark-grey;
  border-color: $dark-grey;
  color: lightgrey;
  text-align: center;
  
  p {
    text-align: left;
    padding: 5px;
  }
  
  h2 {
    -webkit-transition: color 0.5s linear 0s;
    -moz-transition: color 0.5s linear 0s;
    -o-transition: color 0.5s linear 0s;
    transition: color 0.5s linear 0s;
  }
  
  .project {
    h3 {
      -webkit-transition: color 0.5s linear 0s;
      -moz-transition: color 0.5s linear 0s;
      -o-transition: color 0.5s linear 0s;
      transition: color 0.5s linear 0s;
    }
  }
  
  .project:hover {
    h3 {
      color: $link-blue;
    }
  }
}

.projects:hover {
  h2 {
    color: $link-blue;
  }
}

.line {
  height: 2px;
  margin: 10px;
  overflow: hidden;
  border-width: 0;
  border-top: 1px solid $med-grey;
}

.line-dashed {
  border-style: dashed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p, div {
    font-family: 'Titillium Web', sans-serif;
}